# Quarto
_book/
_site/
*.aux
*.log
*.out
*.toc

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user

# Temporal
.DS_Store
Thumbs.db

# Output
*.html
*.pdf
*.docx

/.quarto/
